@nav-link-padding:                          10px 0 10px 30px;

.navbar-default
{
	box-shadow: -2px 0px 18px #666;
}

.navbar-brand 
{
	//border-right: 1px solid lighten(@navbar-default-link-color, 35%);
	font-size: 1.4em;
	padding: 7px 15px;
	img 
	{
		height: 34px;
		margin-top: 11%;
	}
}
.navbar-nav
{
	padding-top: 4px;
	font-size: .85em;
	text-transform: uppercase;
	font-weight: 400;	
}
.navbar-nav li a 
{
	transition: all 0.3s linear;
}

.nav > li > a 
{
	cursor: pointer;
	padding-left: 60px;
}

.top-nav 
{
	width: auto;
	.nav-dropdown 
	{
		padding-left: 0;
		a
		{
			color: #555 !important;
		}
	}
}

@media (max-height: 991px) 
{
	.top-nav {
		width: 100%;
		margin: auto;
	}

	.nav-dropdown 
	{
		margin: auto;
		padding-left: 50px;
		text-align: center;
		a 
		{
			color: #bbb !important;
		}
		.divider 
	    {
	     	padding-left: 50px;
	    	text-align: center;
	    	width: 25%;
	    	margin: auto;
	    }
	}
}

